//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form

//- homepage lading title
//- ================================
mixin homepageTitleDesc(classTitleMod, classLineMod, classDescMod, titleVal, descVal)
  h1.h-title(class!= classTitleMod)!= titleVal
  .h-line(class!= classLineMod)
  p.h-desc(class!= classDescMod)!= descVal


//- navigation item for client interviews
//- ================================
mixin navigationItem(classMod, navNum, navName)
  li.navigation__list-item(class!= "navigation__list-item--" + classMod)
    a.navigation__btn(href="#" class="" title="")
      div.navigation__btn-left
        p.navigation__btn-num
          span!= navNum
      div.navigation__btn-right
        p.navigation__btn-name!= navName


//- navigation item for agency part
//- ================================
mixin navigationItemAgency(classMod, iconName, navName)
  li.navigation__list-item(class!= "navigation__list-item--" + classMod)
    a.navigation__btn(href="#" class="" title="")
      div.navigation__btn-left
        i.icon-font(class!= 'icon-nav-' + iconName)
      div.navigation__btn-right
        p.navigation__btn-name!= navName


//- custom radio btn
//- ================================
mixin clientInterviewRadioBtn(id, groupName, radioVal)
  .c-radio
    .c-radio__field
      input.c-radio__input(
        id= id
        name!= groupName
        type='radio'
        checked!= attributes.checked
      )
      label.c-radio__label(for!= id)
        span!= radioVal


//- custom checkbox btn
//- ================================
mixin clientInterviewCheckboxBtn(id, groupName, radioVal)
  .c-checkbox
    .c-checkbox__field
      input.c-checkbox__input(
        id= id
        name!= groupName
        type='checkbox'
        checked!= attributes.checked
      )
      label.c-checkbox__label(for!= id)
        span!= radioVal
mixin clientInterviewCheckboxInputBtn(id, groupName, radioVal, placeholderVal)
  .c-checkbox.c-checkbox--input
    .c-checkbox__field
      input.c-checkbox__input(
        id= id
        name!= groupName
        type='checkbox'
        checked!= attributes.checked
      )
      label.c-checkbox__label(for!= id)
        span!= radioVal
        .c-form__input-wrapper
          input.c-form__input(type="text" placeholder= placeholderVal)


mixin sectionBox(classMod, title, subtitle, badgeVal)
  a.box(href='#' class!= "box--" + classMod)
    .box__wrapper
      .box__wrapper-top
        if(badgeVal)
          .box__badge(class!= 'box__badge--' + badgeVal.toLowerCase())
            span!= badgeVal
      .box__wrapper-bottom
        p.box__title!= title
        p.box__subtitle!= subtitle

//- MIXIN :: END