// SECTION client interview children :: START

#ci.ci.ci--children

  p.ci__title!= "How many adults, aged 17 over, live in the home with you?"
  hr.ci__divider
  p.ci__title!= "Collect following information"
  hr.ci__divider
  p.ci__title!= "What is the $name$ gender?"
  hr.ci__divider
  p.ci__title!= "What is your race?"
  hr.ci__divider
  p.ci__title!= "Relationship"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview children :: END