// SECTION client interview type work :: START

#ci.ci.ci--typeWork

  p.ci__title!= "Are you employed?"
  hr.ci__divider
  p.ci__title!= "Are your self-employed?"
  hr.ci__divider
  p.ci__title!= "Describe what you do"
  hr.ci__divider
  p.ci__title!= "How long have you been self employed ?"
  hr.ci__divider
  p.ci__title!= "Has your income lessened in the past 3 months?"
  hr.ci__divider
  p.ci__title!= "Why is your income lessened?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview type work :: END