// SECTION client interview income :: START

#ci.ci.ci--income

  p.ci__title!= "How are you paid?"
  hr.ci__divider
  p.ci__title!= "What is your hourly rate?"
  hr.ci__divider
  p.ci__title!= "How many hours per week do you work ?"
  hr.ci__divider
  p.ci__title!= "How long have you been employed?"
  hr.ci__divider
  p.ci__title!= "Have your hours been cut in the past 3 months?"
  hr.ci__divider
  p.ci__title!= "How much?"
  hr.ci__divider
  p.ci__title!= "Do you have the equivalent of 1 month paystubs?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview income :: END