// SECTION client interview other source :: START

#ci.ci.ci--otherSource

  p.ci__title!= "Do you recive any of the following?"
  hr.ci__divider
  p.ci__title!= "How many outside people ontribute to the income of the household ?"
  hr.ci__divider
  p.ci__title!= "What is the total amount of their combined assistance ?"
  hr.ci__divider
  p.ci__title!= "Do you expect to keep receiving this support ?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview other source :: END