// SECTION client interview income :: START

-
  var dataFormObj = {
    inputName1: {
      classMod: "",
      uniqueName: "hourly_rate",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName2: {
      classMod: "",
      uniqueName: "hours_per_week",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName3: {
      classMod: "",
      uniqueName: "long_been_employed",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName4: {
      classMod: "",
      uniqueName: "how_much",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    }
  };


#ci.ci.ci--income

  form.c-form(action='' method='' autocomplete='off')

    p.ci__title!= "How are you paid?"

    .ci__row
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-paid-hourly', 'ci-paid', 'Hourly')(checked="checked")
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-paid-salary', 'ci-paid', 'Salary')

    hr.ci__divider
    p.ci__title!= "What is your hourly rate?"

    +formInput(dataFormObj.inputName1)

    hr.ci__divider
    p.ci__title!= "How many hours per week do you work ?"

    +formInput(dataFormObj.inputName2)

    hr.ci__divider
    p.ci__title!= "How long have you been employed?"

    +formInput(dataFormObj.inputName3)

    hr.ci__divider
    p.ci__title!= "Have your hours been cut in the past 3 months?"

    .ci__row
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-hours-been-cut-yes', 'ci-hours-been-cut', 'Yes')(checked="checked")
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-hours-been-cut-no', 'ci-hours-been-cut', 'No')

    hr.ci__divider
    p.ci__title!= "How much?"

    +formInput(dataFormObj.inputName4)

    hr.ci__divider
    p.ci__title!= "Do you have the equivalent of 1 month paystubs?"

    .ci__row
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-paystubs-yes', 'ci-paystubs', 'Yes')(checked="checked")
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-paystubs-no', 'ci-paystubs', 'No')

    hr.ci__divider
    .ci__btn-wrapper
      a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview income :: END