// SECTION document libraries modal :: START

#c-modal.c-modal.c-modal--dl
  .c-modal__wrapper.c-modal__wrapper-0.c-modal__wrapper--first
    .c-modal__content
      .c-modal__body
  .c-modal__wrapper.c-modal__wrapper-1
    .c-modal__content
      .c-modal__body
  .c-modal__wrapper.c-modal__wrapper-2.c-modal__wrapper--last
    .c-modal__content
      .c-modal__body

  .c-modal__heading
    .c-modal__heading-expand
      p!= "Document name"

    .c-modal__heading-auto
      a(href="#" class="" title="")
        i.icon-font.icon-print
      a(href="#" class="" title="")
        i.icon-font.icon-download
      a(
        href= "#"
        class="" title=""
        )
        i.icon-font.icon-close

  .c-modal__control
    .c-modal__control-expand
      p!= "Page"
      div
        a(href="#" class="" title="")
          span
            i.icon-font.icon-triangle-up

        div
          span!= "1"
          span!= "of"
          span!= "3"

        a(href="#" class="" title="")
          span
            i.icon-font.icon-triangle-down


    .c-modal__control-auto
      a(href="#" class="" title="")
        span
          i.icon-font.icon-plus
      a(href="#" class="" title="")
        i.icon-font.icon-search
      a(href="#" class="" title="")
        span
          i.icon-font.icon-minus

// SECTION document libraries modal :: END