---
title: HelpersUnited - Agency - Interview interview

pageClassName: p-agency-i-interview
pageClassNameNum: p-agency-i-interview-4
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0 is-active', 'interviews', 'Interviews')
                +navigationItemAgency('1', 'staff', 'Staff')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud')
                +navigationItemAgency('3', 'meetingSchedule', 'Meeting Schedule')
                +navigationItemAgency('4', 'documentLibraries', 'Document libraries')
                +navigationItemAgency('5', 'qa', 'Q&A')
                +navigationItemAgency('6', 'videoTutorials', 'Video tutorials')

        .section__wrapper-right

          section#i-interview.i-interview.section-top

            .i-interview__wrapper

              .section-top__heading
                .section-top__heading-left
                  p!= "Alvin Brewer"
                .section-top__heading-right
                  a(href="#" class="" title="")
                    span
                     i.icon-font.icon-close

              .i-interview__body

                include components/common/_tabs

                .i-interview__content
                  .i-interview__content-left

                    .i-interview__nav
                      -
                        var listItemNavArr = [
                          'Biography',
                          'Personal data',
                          'Employment information',
                          'Household member',
                          'Other sources of income',
                          'Monthly expenses'
                        ];
                      ul.i-interview__nav-list
                        each val, idx in listItemNavArr
                          li.i-interview__nav-item
                            a.i-interview__nav-btn(href="#" class=(idx === 3) ? 'is-active':'' title="")
                              span!= val

                  .i-interview__content-right

                    .i-interview__field-wrapper
                      .i-interview__field-left
                        .i-interview__field
                          h6.i-interview__field-title!= "Adults"
                        .i-interview__field
                          span.i-interview__field-label!= "How many adults, aged 17 over, live in the home with you?"
                          p.i-interview__field-value!= "1"
                        .i-interview__field
                          h6.i-interview__field-title!= "1st adult"
                        .i-interview__field
                          span.i-interview__field-label!= "First Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "Middle Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "Last Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "DOB"
                          p.i-interview__field-value!= "13.02.86"
                        .i-interview__field
                          span.i-interview__field-label!= "SSN"
                          p.i-interview__field-value!= "232542345"
                        .i-interview__field
                          span.i-interview__field-label!= "What is the $name$ gender?"
                          p.i-interview__field-value!= "Male"
                        .i-interview__field
                          span.i-interview__field-label!= "What is $his$ race?"
                          p.i-interview__field-value!= "Asian"
                        .i-interview__field
                          span.i-interview__field-label!= "Relationship"
                          p.i-interview__field-value!= "Brother"
                        .i-interview__field
                          span.i-interview__field-label!= "Does this member contribute to the home's finance"
                          p.i-interview__field-value!= "No"


                      .i-interview__field-right
                        .i-interview__field
                          h6.i-interview__field-title!= "Children"
                        .i-interview__field
                          span.i-interview__field-label!= "How many adults, aged 17 over, live in the home with you?"
                          p.i-interview__field-value!= "1"
                        .i-interview__field
                          h6.i-interview__field-title!= "1st child"
                        .i-interview__field
                          span.i-interview__field-label!= "First Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "Middle Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "Last Name"
                          p.i-interview__field-value!= "Lorem"
                        .i-interview__field
                          span.i-interview__field-label!= "DOB"
                          p.i-interview__field-value!= "13.02.86"
                        .i-interview__field
                          span.i-interview__field-label!= "SSN"
                          p.i-interview__field-value!= "232542345"
                        .i-interview__field
                          span.i-interview__field-label!= "What is the $name$ gender?"
                          p.i-interview__field-value!= "Male"
                        .i-interview__field
                          span.i-interview__field-label!= "What is $his$ race?"
                          p.i-interview__field-value!= "Asian"
                        .i-interview__field
                          span.i-interview__field-label!= "Relationship"
                          p.i-interview__field-value!= "Brother"
                        .i-interview__field
                          span.i-interview__field-label!= "Does this member contribute to the home's finance"
                          p.i-interview__field-value!= "No"

