---
title: HelpersUnited - Agency - Interview interview

pageClassName: p-agency-i-interview
pageClassNameNum: p-agency-i-interview-3
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0 is-active', 'interviews', 'Interviews')
                +navigationItemAgency('1', 'staff', 'Staff')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud')
                +navigationItemAgency('3', 'meetingSchedule', 'Meeting Schedule')
                +navigationItemAgency('4', 'documentLibraries', 'Document libraries')
                +navigationItemAgency('5', 'qa', 'Q&A')
                +navigationItemAgency('6', 'videoTutorials', 'Video tutorials')

        .section__wrapper-right

          section#i-interview.i-interview.section-top

            .i-interview__wrapper

              .section-top__heading
                .section-top__heading-left
                  p!= "Alvin Brewer"
                .section-top__heading-right
                  a(href="#" class="" title="")
                    span
                     i.icon-font.icon-close

              .i-interview__body

                include components/common/_tabs

                .i-interview__content.section-top__content
                  .i-interview__content-left.section-top__content-left

                    .menu
                      -
                        var listItemNavArr = [
                          'Biography',
                          'Personal data',
                          'Employment information',
                          'Household member',
                          'Other sources of income',
                          'Monthly expenses'
                        ];
                      ul.menu__list
                        each val, idx in listItemNavArr
                          li.menu__item
                            a.menu__btn(href="#" class=(idx === 2) ? 'is-active':'' title="")
                              span!= val

                  .i-interview__content-right.section-top__content-right

                    .i-interview__field-wrapper
                      .i-interview__field-left
                        .i-interview__field
                          h6.i-interview__field-title!= "Type of work"
                        .i-interview__field
                          span.i-interview__field-label!= "Are you employed?"
                          p.i-interview__field-value!= "Yes"
                        .i-interview__field
                          span.i-interview__field-label!= "Are your self-employed?"
                          p.i-interview__field-value!= "Yes"
                        .i-interview__field
                          span.i-interview__field-label!= "Describe what you do"
                          p.i-interview__field-value!= "Lorem Ipsum"
                        .i-interview__field
                          span.i-interview__field-label!= "How long have you been self employed ?"
                          p.i-interview__field-value!= "Lorem ipsum"
                        .i-interview__field
                          span.i-interview__field-label!= "Has your income lessened in the past 3 months?"
                          p.i-interview__field-value!= "Yes"
                        .i-interview__field
                          span.i-interview__field-label!= "Why is your income lessened?"
                          p.i-interview__field-value!= "Lorem ipsum"
                      .i-interview__field-right
                        .i-interview__field
                          h6.i-interview__field-title!= "Income"
                        .i-interview__field
                          span.i-interview__field-label!= "How are you paid?"
                          p.i-interview__field-value!= "Hourly"
                        .i-interview__field
                          span.i-interview__field-label!= "What is your hourly rate?"
                          p.i-interview__field-value!= "$5"
                        .i-interview__field
                          span.i-interview__field-label!= "How many hours per week do you work ?"
                          p.i-interview__field-value!= "20"
                        .i-interview__field
                          span.i-interview__field-label!= "How long have you been employed?"
                          p.i-interview__field-value!= "Lorem ipsum"
                        .i-interview__field
                          span.i-interview__field-label!= "Have your hours been cut in the past 3 months?"
                          p.i-interview__field-value!= "Yes"
                        .i-interview__field
                          span.i-interview__field-label!= "How much?"
                          p.i-interview__field-value!= "Lorem ipsum"
                        .i-interview__field
                          span.i-interview__field-label!= "Do you have the equivalent of 1 month paystubs?"
                          p.i-interview__field-value!= "Yes"
