---
title: HelpersUnited - Client - Interview interview

pageClassName: p-agency-i-interview
pageClassNameNum: p-agency-i-interview-5
mode: client
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0 is-active', 'interviews', 'Interviews', 'agency-interviews-1.html')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud', 'agency-push-cloud-1.html')

        .section__wrapper-right
          .section__wrapper-hscroll

            section#i-interview.i-interview.section-top

              .i-interview__wrapper

                .section-top__heading
                  .section-top__heading-left
                    if(mode === 'client')
                      div
                        p!= "Agency name"
                        span!= "01.01.19"
                    else
                      p!= "Alvin Brewer"
                  .section-top__heading-right
                    a(href="#" class="" title="")
                      span
                       i.icon-font.icon-close

                .i-interview__body

                  .i-interview__content.section-top__content
                    .i-interview__content-left.section-top__content-left

                      .menu
                        -
                          var listItemNavArr = [
                          {
                          href: 'agency-i-interview-1.html',
                          name: 'Biography'
                          },
                          {
                          href: 'agency-i-interview-2.html',
                          name: 'Personal data',
                          },
                          {
                          href: 'agency-i-interview-3.html',
                          name: 'Employment information',
                          },
                          {
                          href: 'agency-i-interview-4.html',
                          name: 'Household member',
                          },
                          {
                          href: 'agency-i-interview-5.html',
                          name: 'Other sources of income',
                          },
                          {
                          href: 'agency-i-interview-6.html',
                          name: 'Monthly expenses'
                          }
                          ];
                        ul.menu__list
                          each val, idx in listItemNavArr
                            li.menu__item
                              a.menu__btn(href= listItemNavArr[idx].href class=(idx === 4) ? 'is-active': '' title="")
                                span!= listItemNavArr[idx].name

                    .i-interview__content-right.section-top__content-right

                      .i-interview__field
                        h6.i-interview__field-title!= "Adults"

                      .i-interview__field-wrapper
                        .i-interview__field-left
                          .i-interview__field
                            span.i-interview__field-label!= "Unemployment benefits"
                            p.i-interview__field-value!= "$200"
                          .i-interview__field.i-interview__field--big
                            span.i-interview__field-label!= "How many outside people ontribute to the income of the household ?"
                            p.i-interview__field-value!= "1"

                        .i-interview__field-right
                          .i-interview__field
                            span.i-interview__field-label!= "Food stamps"
                            p.i-interview__field-value!= "$200"
                          .i-interview__field
                            span.i-interview__field-label!= "What is the total amount of their combined assistance ?"
                            p.i-interview__field-value!= "$200"
                          .i-interview__field
                            span.i-interview__field-label!= "Do you expect to keep receiving this support ?"
                            p.i-interview__field-value!= "Yes"
