---
title: HelpersUnited - Client interview - Past Interviews

pageClassName: p-agency-interviews
pageClassNameNum: p-agency-interviews-1
mode: client
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0 is-active', 'interviews', 'Interviews', 'agency-interviews-1.html')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud', 'agency-push-cloud-1.html')

        .section__wrapper-right
          .section__wrapper-hscroll

            include components/common/_tabs

            section#services-r.services-r

              .services-r__table(class!= (mode === 'client') ? 'services-r__table--client':'')
                .services-r__table-head
                  .services-r__table-col
                    p!= "Agency Name"
                  .services-r__table-col
                    p!= "Address"
                  .services-r__table-col
                    p!= "Phone number"
                  .services-r__table-col
                    p!= "Interview Date"
                  .services-r__table-col
                    p!= "Required documents"

                each val, idx in [1,2,3,4,5]
                  .services-r__table-body
                    .services-r__table-col
                      p!= "Helpers"
                    .services-r__table-col
                      p!= "17 Schmidt Brooks Suite 696"
                    .services-r__table-col
                      p!= "081-565-6203"
                    .services-r__table-col
                      p!= "8 Dec 2019, 08:00AM"
                    .services-r__table-col
                      a(href="#" class="" title="")
                        i.icon-font.icon-download
                        span!= "Download Documents"
