---
title: HelpersUnited - Log In

pageClassName: p-login
---
extends shared/_layout

block header

block content
  div.body.body--start(class!= pageClassName)

    section#sign.sign.sign--loginMain
      .sign__wrapper
        .sign__wrapper-left
          .sign__wrapper-top
            +logotypeText('sign', '', 'Helpers United')

          .sign__wrapper-bottom
            h1.sign__title!= "Helpers Unlimited"
            p.sign__desc!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"


        .sign__wrapper-right

          .sign__form
            h2.sign__form-title!= "Log in"
            p.sign__form-link.sign__form-link--crete
              != "or "
              a(href="#" class="" title="")!= "create an account"

            form.c-form(action='' method='' autocomplete='off')
              +formRadio(dataFormObj.radioFieldLogin1)(checked="checked")
              p.sign__form-text!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"

              +formRadio(dataFormObj.radioFieldLogin2)
              p.sign__form-text!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"

              +formBtn('', 'c-btn c-btn--bg c-btn__form c-btn__form--login', 'Next')

            p.sign__form-info
              != "By clicking “Next” I agree to Helpers Unlimited<br>"
              a(href="#" class="" title="")!= "Terms of Service"
              != " and "
              a(href="#" class="" title="")!= "Privacy Policy"
              != "."

block footer