// SECTION tabs :: START

-
  var tabsAgencyInterviewArr = [
    {
      href: "agency-interviews-1.html",
      name: 'Current interviews'
    },
    {
      href: 'agency-interviews-2.html',
      name: 'Past interviews'
    }
  ];
  var tabsAgencyPushCloudArr = [
    {
      href: 'agency-push-cloud-1.html',
      name: 'Active Requests'
    },
    {
      href: 'agency-push-cloud-3.html',
      name: 'Requests History'
    }
  ];
  var tabsAgencyDocLibArr = [
    {
      href: '#',
      name: 'Section 1'
    },
    {
      href: '#',
      name: 'Section 2'
    }
  ];
  var tabsAgencyVideoTutorialArr = [
    {
      href: '#',
      name: 'Section 1'
    },
    {
      href: '#',
      name: 'Section 2'
    }
  ];
  var tabsAgencyQaArr = [
    {
      href: '#',
      name: 'Section 1'
    },
    {
      href: '#',
      name: 'Section 2'
    },
    {
      href: '#',
      name: 'Section 3'
    }
  ];
  var tabsAgencyServicesRenderedArr = [
    {
    href: 'agency-quick-report-1.html',
    name: 'Quick Report'
    },
    {
    href: 'agency-i-interview-1.html',
    name: 'Interview'
    },
    {
    href: 'agency-services-rendered-1.html',
    name: 'Services Rendered'
    },
    {
    href: 'agency-overall-report-1.html',
    name: 'Overall Report'
    }
  ];
  var tabsAgencySRSubmenudArr = [
    {
    href: 'agency-services-rendered-1.html',
    name: 'Support Requested'
    },
    {
    href: 'agency-services-rendered-2.html',
    name: 'Support Received',
    },
  ];
  var tabsAgencyOverallReportArr = [
    {
    href: 'agency-quick-report-1.html',
    name: 'Quick Report',
    },
    {
    href: 'agency-i-interview-1.html',
    name: 'Interview',
    },
    {
    href: 'agency-services-rendered-1.html',
    name: 'Services Rendered',
    },
    {
    href: 'agency-overall-report-1.html',
    name:'Overall Report'
    }
  ];
  var tabsAgencyIIArr = [
    {
    href: 'agency-quick-report-1.html',
    name: 'Quick Report',
    },
    {
    href: 'agency-i-interview-1.html',
    name: 'Interview',
    },
    {
    href: 'agency-services-rendered-1.html',
    name: 'Services Rendered',
    },
    {
    href: 'agency-overall-report-1.html',
    name:'Overall Report'
    }
  ];
  var tabsAgencyQuickReportArr = [
    {
    href: 'agency-quick-report-1.html',
    name: 'Quick Report',
    },
    {
    href: 'agency-i-interview-1.html',
    name: 'Interview',
    },
    {
    href: 'agency-services-rendered-1.html',
    name: 'Services Rendered',
    },
    {
    href: 'agency-overall-report-1.html',
    name:'Overall Report'
    }
  ];
  var tabsAgencyQRTableArr = [
    {
    href: '#',
    name: 'Support Requested'
    },
    {
    href: '#',
    name: 'Support Received'
    }
  ];


mixin tabsBtn(num, arr)
  each val, idx in arr
    li.tabs__list-item
      a.tabs__list-btn(href= arr[idx].href class= (num === idx) ? 'is-active':'' title="")!= arr[idx].name

mixin tabsSearchBtn()
  a.tabs__search(href="#" class="" title="")
    span
      i.icon-font.icon-search

    form(action="" method="")
      input(type="text" name="" placeholder="Search...")


mixin tabsUploadBtn(hrefVal)
  a.tabs__upload(
    href= (hrefVal) ? hrefVal:'#'
    class="" title=""
  )
    i.icon-font.icon-upload


section#tabs.tabs(
  class!=
    (
      overallReportTabs === true
      || overallReportTabsEmpty === true
      || quickReportTableBtnEmpty === true
    ) ? '':
    (
      suggestionBool === true
    ) ? 'tabs--title':
    (
      pageClassName === 'p-agency-services-rendered'
      || pageClassName === 'p-agency-overall-report'
      || pageClassName === 'p-agency-i-interview'
      || pageClassName === 'p-agency-q-report'
    ) ? 'tabs--info':''
)
  .tabs__wrapper
    .tabs__wrapper-left

      ul.tabs__list

        if(pageClassNameNum === 'p-agency-interviews-1')
          +tabsBtn(0, tabsAgencyInterviewArr)

        else if(pageClassNameNum === 'p-agency-interviews-2')
          +tabsBtn(1, tabsAgencyInterviewArr)

        else if (pageClassNameNum === 'p-agency-push-cloud-1' || pageClassNameNum === 'p-agency-push-cloud-2')
          +tabsBtn(0, tabsAgencyPushCloudArr)

        else if (pageClassNameNum === 'p-agency-push-cloud-3' || pageClassNameNum === 'p-agency-push-cloud-4')
          +tabsBtn(1, tabsAgencyPushCloudArr)

        else if (pageClassName === 'p-agency-doc-lib')
          +tabsBtn(0, tabsAgencyDocLibArr)

        else if (pageClassName === 'p-agency-vid-t')
          +tabsBtn(0, tabsAgencyVideoTutorialArr)

        else if (pageClassName === 'p-agency-qa')
          +tabsBtn(0, tabsAgencyQaArr)

        else if (pageClassNameSubmenu === 'p-agency-sr-submenu-0')
          +tabsBtn(0, tabsAgencySRSubmenudArr)

        else if (pageClassNameSubmenu === 'p-agency-sr-submenu-1')
          +tabsBtn(1, tabsAgencySRSubmenudArr)

        else if (pageClassName === 'p-agency-services-rendered')
          +tabsBtn(2, tabsAgencyServicesRenderedArr)

        else if (pageClassName === 'p-agency-overall-report' && overallReportTabs === true)

        else if (pageClassName === 'p-agency-overall-report' && overallReportTabsEmpty === true)

        else if (pageClassName === 'p-agency-overall-report')
          +tabsBtn(3, tabsAgencyOverallReportArr)

        else if (pageClassName === 'p-agency-i-interview')
          +tabsBtn(1, tabsAgencyIIArr)

        else if (quickReportTable1 === true)
          +tabsBtn(0, tabsAgencyQRTableArr)

        else if (quickReportTable2 === true)
          +tabsBtn(1, tabsAgencyQRTableArr)

        else if (suggestionBool === true)
          p.tabs__title!= "Suggestion " + (suggestionTitleNum)

        else if (pageClassName === 'p-agency-q-report')
          +tabsBtn(0, tabsAgencyQuickReportArr)

    .tabs__wrapper-right
      if(pageClassName === 'p-agency-interviews')
        +tabsSearchBtn()

      else if (pageClassName === 'p-agency-push-cloud')
        +tabsSearchBtn()

      else if (pageClassNameNum === 'p-agency-doc-lib-1' || pageClassNameNum === 'p-agency-doc-lib-5')
        +tabsSearchBtn()
        +tabsUploadBtn('agency-document-libraries-2.html')

      else if (pageClassName === 'p-agency-vid-t')
        +tabsSearchBtn()

      else if (pageClassName === 'p-agency-qa')
        +tabsSearchBtn()

      else if (pageClassNameSubmenu === 'p-agency-sr-submenu-0' || pageClassNameSubmenu === 'p-agency-sr-submenu-1')

      else if (pageClassName === 'p-agency-services-rendered')
        p.tabs__info!= "Overall score of Alvin Brewer: <span>1.16</span>"

      else if (pageClassName === 'p-agency-overall-report' && overallReportTabsEmpty === true)

      else if (pageClassName === 'p-agency-overall-report' && overallReportTabs === true)
        +tabsSearchBtn()
        +tabsUploadBtn()

      else if (pageClassName === 'p-agency-overall-report')
        p.tabs__info!= "Overall score of Alvin Brewer: <span>1.16</span>"

      else if (pageClassName === 'p-agency-i-interview')
        p.tabs__info!= "Overall score of Alvin Brewer: <span>1.16</span>"

      else if (suggestionBool === true)
        +tabsUploadBtn()

      else if (quickReportTableBtnEmpty === true)

      else if (pageClassName === 'p-agency-q-report')
        p.tabs__info!= "Overall score of Alvin Brewer: <span>1.16</span>"



// SECTION tabs :: END