// SECTION great :: START

section#great.great
  .c-grid
    .great__wrapper

      +homepageTitleDesc('great__title', 'great__line', 'great__desc', 'Are we great or what? Yes, we are!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

      .great__block-wrapper
        .great__block.great__block-0
          p!= "23"
          span!= "Lorem ipsum dolor"

        .great__block.great__block-1
          p!= "23"
          span!= "Lorem ipsum dolor"

        .great__block.great__block-2
          p!= "23"
          span!= "Lorem ipsum dolor"

        .great__block.great__block-3
          p!= "23"
          span!= "Happy Clients"

        .great__block.great__block-4
          p!= "23"
          span!= "Lorem ipsum dolor"

        .great__block.great__block-5
          p!= "23"
          span!= "Hours of hard work"


// SECTION great :: END